<div class="achievements">
    <div class="text-center row panel-heading">
        <h1 class="c-white f-bold f-62 lh-70" ng-if="browsers.desktop">Achievements</h1>
        <h1 class="c-white f-bold f-36 lh-40" ng-if="browsers.mobile">Achievements</h1>
        <h1 class="c-white f-bold f-48 lh-52" ng-if="browsers.tablet">Achievements</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 white-box">
            <p class="c-dark f-14 lh-18">
                <ul>
                    <li>Built a high profile Training Application for Google Retail with Webby Award honorable mention (http://trainup.withgoogle.com)</li>
                    <li>Built high profile insights project with Google. (http://think.withgoogle.com/databoard/)</li>
                    <li>Worked on a number of international product sites on the google.com domain</li>
                    <li>Worked on animations that are displayed at the entrance to the Google Offices.</li>
                    <li>Built a high profile YouTube channel for YouTube subscription base. </li>
                    <li>Built a high profile YouTube channel for Super Bowl TV advertisements.</li>
                    <li>Built a Macromedia award winning Flash/Vignette based applications, Built on Vignette V6 platform.</li>
                    <li>Delivered websites for 3 high profile motor companies in Ireland, from front end design and HTML through to backend development on ASP and ColdFusion platforms, also using HTML and JavaScript</li>
                    <li>Designed & Implemented BT Learning Centre website, built on Vignette V6 platform including Flash interfaces and JAVA based encryption for third parties. Using TCL, HTML and JavaScript</li>
                    <li>Developed key aspects of the BT Openworld portal on the Vignette V6 platform, including incorporating XML feeds from third parties into Oracle database and live video streaming for Sporting events.</li>
                    <li>Delivered an award winning design for commercial website, producing design artwork and HTML interface.</li>
                    <li>Delivered an award winning flash ad campaign for Nissan Europe</li>
                </ul>
            </p>
        </div>
    </div>
</div>
