<div class="developer">
	<div class="text-center row panel-heading">
		<h1 class="c-white f-bold f-62 lh-70" ng-if="browsers.desktop">Developer</h1>
		<h1 class="c-white f-bold f-36 lh-40" ng-if="browsers.mobile">Developer</h1>
		<h1 class="c-white f-bold f-48 lh-52" ng-if="browsers.tablet">Developer</h1>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 white-box">
			<p class="c-dark f-14 lh-18">Advanced front end developer with technical experience going back more than 15 years in the web development field. This includes cross browser, standard compliant HTML development including HTML5. Excellent knowledge of CSS, CSS3 and CSS3 animating. Many years experience in Flash development with ActionScript 2 & 3 including some game development. Accomplished in Javascript development, vanilla, jQuery, Google Closure and some experience with frameworks such as Angular. Thorough knowledge of most development and design software tools such as Photoshop, Illustrator, Flash, Flex, Dreamweaver, Premiere, After Effects, InDesign and Fireworks. </p>
		</div>
	</div>
</div>
