<div class="developer">
    <div class="text-center row panel-heading">
        <h1 class="c-white f-bold f-62 lh-70" ng-if="browsers.desktop">Experience</h1>
        <h1 class="c-white f-bold f-36 lh-40" ng-if="browsers.mobile">Experience</h1>
        <h1 class="c-white f-bold f-48 lh-52" ng-if="browsers.tablet">Experience</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 white-box">
            <h5>Senior Front End Developer Beyond International- San Francisco</h5>
            <h6>May 2010 - Present</h6>
            <p class="c-dark  f-14 lh-18">I am currently employed in San Francisco California as lead front end developer for a company called Beyond International. My primary role is developing high profile web applications for clients such as Google using a variety of different
                frameworks. Ensuring code is of the highest standard, expandable and reusable and passes internal and external code reviews. I am involved in planning and investigating what technologies will meet the needs of the project, as well as working
                with design and UX to develop the best possible product. I have been involved in recruitment and building a team as well as mentoring junior developers and implementing process to ensure code is review and of the highest quality. I have
                worked on a number of projects, the largest being an AngularJS 1.5 application for a retail training, this used SASS and a grunt compiler and ran off API on a App Engine backend. This also initially had a Cordova/Phonegap native app build.
            </p>
            <h5>Freelance Web Developer - South Africa</h5>
            <h6>Mar 2009 - May 2010</h6>
            <p class="c-dark  f-14 lh-18">During this period I worked for myself producing a number of internet and intranet projects for local and international clients. These projects range from flat html sites, to PHP driven content managed e-commerce sites, and a number of flash
                site and CD presentations. </p>
            <h5>Flash Developer Pilotfish Digital - South Africa</h5>
            <h6> Mar 2008 - Mar 2009</h6>
            <p class="c-dark  f-14 lh-18">During this period I worked as a Flash developer on a contract basis for a firm in Durban, South Africa office. My main responsibilities were to oversee the delivery of a number of high profile sites for a large variety of clients within South
                Africa as well as a number of flash games in AS2</p>
            <h5>Flash Developer Duke Interactive- London</h5>
            <h6>Feb 2007 - Mar 2008</h6>
            <p class="c-dark  f-14 lh-18">As a contract flash developer, I took a lead role in heading up the London office of this Paris based company. My main responsibilities were to oversee the delivery of a number of high profile banner campaigns as well as the delivery of high
                profile sites for a large automotive firm and fast food company.</p>
            <h5>Round the World Travel</h5>
            <h6>Sept 2006 - Feb 2007</h6>
            <p class="c-dark  f-14 lh-18">During this period I travelled through South East Asia and New Zealand and America</p>
            <h5>Flash developer Victoria Real (Contract) - London</h5>
            <h6>Apr 2006 - Sept 2006</h6>
            <p class="c-dark  f-14 lh-18">As a contract flash developer I worked on a number of high profile projects including games and application for large British companies including England’s largest betting company, The BBC and others. Development was using Flash 8 or Eclipse
                coding in Actionscript2.</p>
            <h5>Flash developer FramFab (Contract) - London</h5>
            <h6>Jan 2006 - Mar 2006</h6>
            <p class="c-dark  f-14 lh-18">During this contract I worked as a Flash Developer within a small team to develop a flash application involving 6 flash based games to be displayed on a tablet PC. The project was developed in Eclipse using AS 2 and V2 Components.</p>
            <h5>Vignette Developer Jetix (Contract) - London</h5>
            <h6>Oct 2005 - Jan 2006</h6>
            <p class="c-dark  f-14 lh-18">I worked as contract vignette developer for Jetix which is part of the Disney Network. I was responsible for developing and maintaining templates for various research campaigns primarily programming in TCL, HTML and JavaScript. I also developed
                a Macromedia flash interface dynamically generated for the research projects.</p>
            <h5>Travelling</h5>
            <h6>May 2005 - Sept 2005</h6>
            <p class="c-dark  f-14 lh-18">In the last few months I was travelling across USA and through Egypt and South Africa.</p>
            <h5>Senior Content Systems Developer for the BTExact- London</h5>
            <h6>Oct 2000 - May 2005</h6>
            <p class="c-dark  f-14 lh-18">My previous role within for British Telecom was to develop solutions for the UK’s largest telecommunications company, I primarily worked on developing web applications within the Vignette V/6 architecture including advanced Flash based applications
                using TCL , HTML and JavaScript. This includes building portals for business & consumer customers, content systems integrations with Third parties and Internal BT platforms. Responsibilities and achievements: Built Macromedia award winning
                portal using flash to interact with Vignette Developed the BT Business Portal to help business customers take full advantage of Broadband network. Worked with Yahoo and British Telecom to deliver a new Broadband package for the UK. Developed
                and managed BT’s only online Educational portal</p>
            <h5>Web Design &amp; Developer Webzone Limited - Dublin</h5>
            <h6>Oct 1999 - Oct 2000</h6>
            <p class="c-dark  f-14 lh-18">My main job role was to design, develop and implement a wide range of websites for various clients. This included liaising with clients to agree upon design and the most suitable technological solution (whether it be ASP or ColdFusion). I
                also managed a team of graphic designers and managed the finances for each project.</p>
            <h5>Web Developer, Tradepage Limited, South Africa</h5>
            <h6>Oct 1998 - Oct 1999</h6>
            <p class="c-dark  f-14 lh-18">My Main role was to develop a wide range of commercial websites including design, and development using HTML, javascript and ASP.</p>
            <h5>Graphic Designer, Blue Box Advertising Agency, South Africa</h5>
            <h6>Jan 1997 - Oct 1998</h6>
            <p class="c-dark  f-14 lh-18">My role was to design a wide range of artwork for print, multimedia and internet purposes. </p>
        </div>
    </div>
</div>
