<div class="home">
    <h1 class="c-white f-bold f-62 lh-70" ng-if="browsers.desktop">
        Photographing things &amp; building web apps.
    </h1>
    <h1 class="c-white  f-bold f-36 lh-40" ng-if="browsers.mobile">
        Photographing things &amp; building web apps.
    </h1>
    <h1 class="c-white f-bold f-48 lh-52" ng-if="browsers.tablet">
        Photographing things &amp; building web apps.
    </h1>
    <h2 class="c-white f-18 lh-20" ng-if="browsers.desktop">
        Hello I'm Geoff Oddie, a 40 years senior front end developer  from South Africa,  currently living in San Francisco. I have a wide range experience in the internet arena, developing high profile, challenging applications.
        I have a number of years experience in the web development industry and at present I wish to further my skills in web development to reach my full potential. I am a strong team player helping others to deliver solutions.
    </h2>
    <h2 class="c-white  f-16 lh-18" ng-if="!browsers.desktop">
        Hello I'm Geoff Oddie, a 40 years senior front end developer  from South Africa,  currently living in San Francisco. I have a wide range experience in the internet arena, developing high profile, challenging applications.
        I have a number of years experience in the web development industry and at present I wish to further my skills in web development to reach my full potential. I am a strong team player helping others to deliver solutions.
    </h2>
</div>
