<div class="developer">
    <div class="text-center row panel-heading">
        <h1 class="c-white f-bold f-62 lh-70" ng-if="browsers.desktop">Professional Skills</h1>
        <h1 class="c-white f-bold f-36 lh-40" ng-if="browsers.mobile">Professional Skills</h1>
        <h1 class="c-white f-bold f-48 lh-52" ng-if="browsers.tablet">Professional Skills</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 white-box">
            <p class="c-dark  f-14 lh-18">
                <h5>Languages:</h5>
                <p class="c-dark  f-14 lh-18">JavaScript, Object Oriented JavaScript, HTML4, HTML5, CSS2, CSS3, D/XHTML, Actionscript. </p>
                <h5>Software, Frameworks:</h5>
                <p class="c-dark  f-14 lh-18">AngularJS, NodeJS, JQuery, Polymer, Google Closure, ReactJS, LESS, SASS, Underscore, JSON, Bootstrap, Handlebars, Grunt, Gulp</p>
                <h5>Other:</h5>
                <p class="c-dark  f-14 lh-18">Git, Agile methodology, Jira </p>
            </p>
        </div>
    </div>
</div>
